
    .contact-card {
      margin-top: 20px;
      display: flex;
      align-items: center;
      background-color: lightgray;
      padding: 15px;
      border-radius: 10px;
      width: 99%;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      font-family: sans-serif;
      box-shadow: 5px 5px 15px rgb(0, 9, 0, 10);
    }

    .contact-card img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 15px;
    }

    .contact-info {
      display: flex;
      flex-direction: column;
    }

    .contact-info span {
      font-size: 20px;
      color: black;
      font-weight: bold;
    }

    .contact-info a {
      font-size: 20px;
      color: darkgreen;
      font-weight: bold;
      text-decoration: none;
      margin-top: 4px;
    }

    .contact-info a i {
      margin-right: 6px;
    }

    .contact-info a:hover {
      text-decoration: underline;
    }

  .Helplocation {
  margin-top: 20px;
  display: flex;
  text-align: center;
  text-wrap: wrap;
  justify-content: center;
  width: 99%;
  padding: 8px;
  
  height: 60px;
  color: darkblue;
  align-items: center;
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
  background-color: lightgray;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 5px 5px 15px rgb(0, 9, 0, 10);

}
.bodyhelp{margin-top: 110px;}
