.box{
	display: flex;
	text-align: center;
	text-wrap: wrap;
	justify-content: center;
	width: 75%;
	padding: 15px;
	margin: 15px;
	height: 70px;
	color: black;
	align-items: center;
	font-family: serif;
	font-size: auto;
	font-weight: bold;
	background-color: rgb(60, 58, .0, 0.3);
	border-radius: 20px;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 5px 5px 15px rgb(0, 9, 0, 10);

}

#reg {color: gold; 
background-color: brown;}

.box-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	height: 100%;
	margin: 20px;
	padding: 20px;
	background-color: rgb(0, 0, 60, .2);
	border-radius: 20px;
}

.main-body{
 margin-top: 100px;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}
